{% extends "baseLR.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <form method="POST"> 
        {% csrf_token %}
         <section class ="copy">
             <h2>Reset Password</h2>
             <div class="login-container">
                 {% for message in messages%}
                 <p>{{message}}</p>
                 {% endfor%} 
             </div>
         </section>
         {{ form|crispy }}
         
         <button class="signup-btn" type="submit">Reset Password</button>
         
     </form>
     {% endblock content %}










































