

{% extends "baseLR.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <form method="POST"> 
        {% csrf_token %}
         <section class ="copy">
             <h2>Reset Password Completed</h2>
             <div class="login-container">
              <p>Sign In <a href="{% url 'login' %}">
                <strong>Here</strong>
            </a></p>
                 {% for message in messages%}
                 <p>{{message}}</p>
                 {% endfor%} 

             </div>
         </section>
         <p>Your new password has been set.</p>
         
         
         
     </form>
     {% endblock content %}



























































