{% extends "baseLR.html" %}
{% load static %}
{% block content %}
     <form method="POST"> 
        {% csrf_token %}
         <section class ="copy">
             <h2>Reset Password done</h2>
             
         </section>
         <div class="input-container email">
           <p>An email has been sent with instructions to reset your
            password.</p>
             
         </div>
         
         
     </form>
     {% endblock content %}



















































