

{% extends "baseLR.html" %}
{% load static %}
{% block content %}
<div class="sidebar">
    <div class="logoWrappwer">
        <img src="{% static 'images/fav.png' %}" alt="" />
        <h3>
          The <span>Men's Wall</span>
        </h3> 
    </div>
    <Form > 
        <h3>Reset Password Completed</h3>
        
    </Form>
    <div class="term">
        
        <h4> You can now <a href="{% url 'login' %}">Sign In</a>.
        </h4>
    </div> 
</div>
<div class="main">
    <h1>
        Welcome To <br />
        The men's wall
      </h1>
</div>
{% endblock content %}



























































