{% extends "basefeed.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block content %}
<!-- naigation -->
<section>
  <div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static">
                <div class="widget">
                  <h4 class="widget-title">Shortcuts</h4>
                  <ul class="naves">
                    <li>
                      <i class="ti-home"></i>
                      <a href="{% url 'home' %}" title="">Home</a>
                    </li>
                    <li>
                      <i class="ti-user"></i>
                      <a href="{% url 'my_profile' %}" title="">My profile</a>
                    </li>
                    <li>
                      <i class="ti-files"></i>
                      <a href="{% url 'post-create' %}" title="">Add post</a>
                    </li>
                    <li>
                      <i class="ti-user"></i>
                      <a href="timeline-friends.html" title="">friends</a>
                    </li>
                    <li>
                      <i class="ti-image"></i>
                      <a href="timeline-photos.html" title="">images</a>
                    </li>
                    <li>
                      <i class="ti-video-camera"></i>
                      <a href="timeline-videos.html" title="">videos</a>
                    </li>
                    <li>
                      <i class="ti-bell"></i>
                      <a href="#" title="">Notifications</a>
                    </li>
                    <li>
                      <i class="ti-power-off"></i>
                      <a href="{% url 'logout' %}" title="">Logout</a>
                    </li>
                  </ul>
                </div><!-- Shortcuts -->
                <div class="widget">
                  <h4 class="widget-title">Recent Activity</h4>
                  <ul class="activitiez">
                    <li>
                      <div class="activity-meta">
                        <i>10 hours Ago</i>
                        <span><a href="#" title="">Commented on Video posted </a></span>
                        <h6>by <a href="time-line.html">black demon.</a></h6>
                      </div>
                    </li>
                    <li>
                      <div class="activity-meta">
                        <i>30 Days Ago</i>
                        <span><a href="#" title="">Posted your status. “Hello guys, how are you?”</a></span>
                      </div>
                    </li>
                    <li>
                      <div class="activity-meta">
                        <i>2 Years Ago</i>
                        <span><a href="#" title="">Share a video on her timeline.</a></span>
                        <h6>"<a href="#">you are so funny mr.been.</a>"</h6>
                      </div>
                    </li>
                  </ul>
                </div><!-- recent activites -->
                <div class="widget stick-widget">
                  <h4 class="widget-title">Who's follownig</h4>
                  <ul class="followers">
                    <li>
                      <figure><img src="images/resources/friend-avatar2.jpg" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Kelly Bill</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure><img src="images/resources/friend-avatar4.jpg" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Issabel</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure><img src="images/resources/friend-avatar6.jpg" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Andrew</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure><img src="images/resources/friend-avatar8.jpg" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Sophia</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                    <li>
                      <figure><img src="images/resources/friend-avatar3.jpg" alt=""></figure>
                      <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Allen</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                      </div>
                    </li>
                  </ul>
                </div><!-- who's following -->
              </aside>
            </div><!-- sidebar -->
        
            <!-- sidebar -->
            <div class="col-lg-6">
              <div class="central-meta">
               
                <div class="main-content">
                  <div class="container mt-7">
                    <div class="row">
                      <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
                        <div class="card card-profile shadow">
                          <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                              <div class="card-profile-image">
                                <a href="{{ u.profile.image.url }}">
                                  <img
                                    src="{{ u.profile.image.url }}"
                                    class="rounded-circle"
                                    width="160px"
                                    height="160px"
                                  />
                                </a>
                              </div>
                            </div>
                          </div>
                          <div
                            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
                          ></div>
                          <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                              <div class="col">
                                <div
                                  class="card-profile-stats d-flex justify-content-center mt-md-5"
                                >
                                  <div>
                                    <span class="heading">{{ u.profile.friends.count }}</span>
                                    {% if request.user == u %}
                                    <span class="description"
                                      ><a href="{% url 'friend_list' %}">Friends</a></span
                                    >
                                    {% else %}
                                    <span class="description">Friends</span>
                                    {% endif %}
                                    <span class="heading">{{ post_count }}</span>
                                    <span class="description"
                                      ><a href="{% url 'user-posts' u.username %}"
                                        >Posts</a
                                      ></span
                                    >
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="text-center">
                              <h3>{{ u }}</h3>
                              <p>{{ u.profile.bio }}</p>
                              <hr class="my-2" />
                              {% if request.user == u %}
                              <a class="btn btn-info" href="{% url 'edit_profile' %}"
                                >Edit Profile</a
                              >
                              {% else %} {% if button_status == 'not_friend' %}
                              <small
                                ><a
                                  class="btn btn-primary"
                                  href="/users/friend-request/send/{{ u.id }}"
                                  >Add Friend</a
                                ></small
                              >
                              {% elif button_status == 'friend_request_sent' %}
                              <small
                                ><a
                                  class="btn btn-warning"
                                  href="/users/friend-request/cancel/{{ u.id }}"
                                  >Cancel Request</a
                                ></small
                              >
                              {% elif button_status == 'friend_request_received' %}
                              <small
                                ><a
                                  class="btn btn-success mr-2"
                                  href="/users/friend-request/accept/{{ u.id }}"
                                  >Accept Request</a
                                ></small
                              >
                              <small
                                ><a
                                  class="btn btn-danger"
                                  href="/users/friend-request/delete/{{ u.id }}"
                                  >Reject Request</a
                                ></small
                              >
                              {% else %}
                              <small
                                ><a
                                  class="btn btn-danger"
                                  href="/users/friend/delete/{{ u.id }}"
                                  >UnFriend</a
                                ></small
                              >
                              {% endif %} {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    {% if request.user == u %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card card-signin my-5">
                          <div class="card-body">
                            <h2>Friend Requests Sent ({{ sent_friend_requests.count }})</h2>
                            <hr class="my-2" />
                            {% if not sent_friend_requests %}
                            <h5><i>No sent requests!</i></h5>
                            {% else %} {% for s_request in sent_friend_requests %}
                            <a href="{{ s_request.to_user.profile.get_absolute_url }}"
                              ><img
                                src="{{ s_request.to_user.profile.image.url }}"
                                class="rounded mr-2"
                                width="40"
                                height="40"
                                alt=""
                            /></a>
                            <a href="{{ s_request.to_user.profile.get_absolute_url }}"
                              ><b>{{ s_request.to_user.username }}</b></a
                            >
                            <small class="float-right">
                              <a
                                class="btn btn-warning mr-2"
                                href="{% url 'cancel_friend_request' s_request.to_user.id %}"
                                >Cancel</a
                              >
                            </small>
                            <br /><br />
                            {% endfor %} {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card card-signin my-5">
                          <div class="card-body">
                            <h2>Friend Requests Recieved ({{ rec_friend_requests.count }})</h2>
                            <hr class="my-2" />
                            {% if not rec_friend_requests %}
                            <h5><i>No recieved requests!</i></h5>
                            {% else %} {% for r_request in rec_friend_requests %}
                            <a href="{{ r_request.from_user.profile.get_absolute_url }}"
                              ><img
                                src="{{ r_request.from_user.profile.image.url }}"
                                class="rounded mr-2"
                                width="40"
                                height="40"
                                alt=""
                            /></a>
                            <a
                              class="mr-2 align-middle"
                              href="{{ r_request.from_user.profile.get_absolute_url }}"
                              ><b>{{ r_request.from_user.username }}</b>
                            </a>
                            <small class="float-right">
                              <a
                                class="btn btn-success mr-2"
                                href="/users/friend-request/accept/{{ r_request.from_user.id }}"
                                >Accept</a
                              >
                              <a
                                class="btn btn-danger"
                                href="/users/friend-request/delete/{{ r_request.from_user.id }}"
                                >Reject</a
                              >
                            </small>
                            <br /><br />
                            {% endfor %} {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>	
            </div><!-- centerl meta -->
          </div>	
        </div>
      </div>
    </div>
  </div>	
</section>

{% endblock content %} 



























































