{% extends "baseLR.html" %}
{% load static %}
{% block content %}
<div class="sidebar">
    <div class="logoWrappwer">
        <img src="{% static 'images/fav.png' %}" alt="" />
        <h3>
          The <span>Men's Wall</span>
        </h3> 
    </div>
    <Form method="POST">
        {% csrf_token %}
        <h3>Sign Up</h3>
        <div class="inputName">
            <input type="text" name="username" placeholder="Full Name" autocomplete="off" required>
        </div>
        <div class="inputName">
            <input type="email" name="email" placeholder="Email" autocomplete="off" required>
        </div>
        <div class="inputName">
            <input type="password" name="password1" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="inputName">
            <input type="password" name="password2" placeholder="Confirm Password" autocomplete="off" required>
        </div>
        <button type="submit">Sign Up</button>
    </Form>
    <div class="term">
        <div class="terms">
          By signing up, I agree to the Privacy Policy <br /> and Terms of
          Service
        </div>
        <h4>
          Already have an account? <a href="{% url 'login' %}">Sign In</a>
        </h4>
    </div> 
</div>
<div class="main">
    <h1>
        Welcome To <br />
        The men's wall
      </h1>
</div>
{% endblock content %}




























